TOKEN=
GUILD_ID=
ADMIN_ID=
COMMANDS_CHANNEL_ID=
FIRST_RABBIT_CHANNEL_ID=
ADMINISTRATOR_CHANNEL_ID=
ANON_CHANNEL_ID=
SHARE_CHANNEL_ID=
DEBUG_CHANNEL_ID=
MEMBER_ROLE_ID=
SUGGESTION_CHANNEL_ID=
HOYOLAB_COOKIE=ltoken=paste-here; ltuid=paste-here
DEBUG_MODE=#true or false